# Dependencies
node_modules/

# Environment files
.env
.env.local

# Build files
dist/
build/
coverage/

# Logs
logs/
*.log

# Uploads or static files (if stored locally)
uploads/
public/uploads/

# Database backups or seeds
*.sqlite
*.bak
dump.sql
